<p>search works!</p>

<div>
    <input [(ngModel)]="searchValue" />
    <button (click)="search()">Submit</button>
</div>

<span>{{lat}} {{long}}</span>
<div id="map">
    <div class="my-google-map">
        <google-map [options]="mapOptions">
            <map-marker [position]="marker.position"></map-marker>
        </google-map>
    </div>
</div>